import all the required libraries

In [1]:
import os
import trackml
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import torch
from torch_geometric.data import Data
import networkx as nx
from mpl_toolkits.mplot3d import Axes3D

In [3]:
from trackml.dataset import load_event
from trackml.dataset import load_dataset

## Step 1: Pre-process the event

Read in sample event:

In [4]:
event_pref = 'event000001000'
hits, cells, particles, truth = load_event(os.path.join('../data/',event_pref))

In [5]:
hits.head()

   hit_id          x         y       z  volume_id  layer_id  module_id
0       1 -64.409897 -7.163700 -1502.5          7         2          1
1       2 -55.336102  0.635342 -1502.5          7         2          1
2       3 -83.830498 -1.143010 -1502.5          7         2          1
3       4 -96.109100 -8.241030 -1502.5          7         2          1
4       5 -62.673599 -9.371200 -1502.5          7         2          1

## Step 2: Transform event into point cloud

## Aside: Define transforms

## Step 3: Create in memory dataset